<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dude 123</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link type="text/css" rel="stylesheet" href="main2.css">
      
	</head>

	<body>
		
		{% include chatbotwithcolomn.html %}
        {% include script3.html %}
<div style="color: black;" id="startButtonId">Open Mouth</div>
<div style="color: black;" id="resetButtonId">Blink</div>
<div style="color: black;" id="playtrack">play</div>
<button onclick="dude()">Click me</button>
	</body>
</html>